{% extends "base.html" %}
{% block title %}Создать событие{% endblock %}
{% block content %}
    <div class="container">
    <section style="margin-top: 6vh;margin-bottom: 10vh;">
        <div class="container multi-form-container-with-no-point mt-5">
        <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <form id="regForm" action="." method="post">
                {% csrf_token %}
                <h1 id="register" class="header-text">Добавление постановки</h1>
                <div class="all-steps" id="all-steps">
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
                <div class="tab">
                    <div id="contacts">
                        <h2><strong> Введите список контактов актёра. Для добавления контакта нажмите кнопку с плюсом. Создание списка необязательно.</strong></h2>
                        <div class="row collapse" id="actor_contact">
                            <div class="mb-3 col" id="first_input">
                                <p> Тип контакта </p>
                                <select name="contact_type0" id="contact_type0" class="form-control selected">
                                    {% for contact in contacts %}
                                        <option>{{ contact }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3 col" id="second_input">
                                <p> Значение </p>
                                <input name="value0" id="value0" class="form-control" type="text" placeholder="Введите значение">
                            </div>
                        </div>
                    </div>
                    <button class="button-add form-control" type="button" id="addContBtn"><strong>+</strong></button>
                </div>
                <div class="tab">
                    <h2><strong> Заполните основную информацию об актёре.</strong></h2>
                    {% for field in form %}
                        <h3>{{ field.label }}</h3>
                            <p>{{ field }}</p>
                    {% endfor %}
                </div>

                <div class="thanks-message text-center" id="text-message"> <img src="https://i.imgur.com/O18mJ1K.png" width="100" class="mb-4">
                    <h3>Thanks for your Donation!</h3> <span>Your donation has been entered! We will contact you shortly!</span>
                </div>
                <div style="overflow:auto;" id="nextprevious">
                    <div style="float:right;"> <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button> <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button> </div>
                </div>
                </form>
        </div>
        </div>
        </div>
    </section>
    </div>
{% endblock %}