{% extends "base.html" %}
{% block title %}События{% endblock %}
{% load static %}
{% block content %}
    <section>
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h3 class="fw-bold">Поиск постановок</h3>
                    <form class="d-flex justify-content-center flex-wrap my-2" method="post" action=".">
                        {% csrf_token %}
                        <div class="my-2"><input class="form-control" type="email" name="search" placeholder="Название постановки"></div>
                        <div class="my-2"><button class="btn btn-primary ms-sm-2" type="submit">Поиск</button></div>
                        <div style="padding-top: 6px;">
                            <label class="form-label text-nowrap ms-sm-2">Город&nbsp;&nbsp;
                                <select class="form-select d-inline-block form-select form-select-sm">
                                        {% for city in cities %}
                                            <option value="{{city.id}}">{{ city.name }}</option>
                                        {% endfor %}
                                </select>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            {% for event in events %}
                <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                    <div class="col mb-5">
                        {% if event.image %}
                            <img class="rounded img-fluid shadow" src="{{ event.get_image_400x300.url}}">
                        {% else %}
                            <img class="rounded img-fluid shadow" src="{% static 'img/None400x300.jpg' %}">
                        {% endif %}
                    </div>
                    <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                        <div>
                            <h5 class="fw-bold">{{ event.name }}</h5>
                            {% if event.description %}
                                <p>{{ event.description }}</p>
                            {% endif %}
                            <p class="text-muted mb-4"><i class="fas fa-map-marker-alt" style="padding-right: 8px;"></i>{{ event.theatre.location.query }}
                            <br><i class="fas fa-university" style="padding-right: 4px;"></i>{{ event.theatre }}</p>
                            <a href="{% url 'theatres:events_detail' event.id %}" class="btn btn-primary shadow" type="button">Больше</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <section class="py-4 py-xl-5">
            <div class="container">
                <div class="text-white bg-dark border rounded border-0 p-4 p-md-5">
                    <h2 class="fw-bold text-white mb-3">Не нашли нужную постановку? Не беда, добавьте её!</h2>
                    <p class="mb-4">После заполнения информации о новой постановке она отправится на модерацию. После её прохождения она будет добавлена в общий список.</p><a class="btn btn-primary btn-lg me-2" role="button" href="{% url 'theatres:events_create' %}">Приступить к созданию</a>
                </div>
            </div>
        </section>
    </section>
{% endblock %}