{% extends "base.html" %}
{% block title %}Создать театр{% endblock %}
{% block content %}
<div class="container">
    <section style="margin-top: 6vh;margin-bottom: 10vh;">
        <div class="container multi-form-container-with-no-point mt-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-6">
                    <form id="regForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h1 id="register" class="header-text">Добавление театра</h1>
                        <div class="all-steps" id="all-steps">
                            {% for field in form.visible_fields %}
                                <span class="step"></span>
                            {% endfor %}
                            <span class="step"></span>
                        </div>
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            <div class="tab">
                                <h3>{{ field.label }}</h3>
                                <p>{{ field }}</p>
                                {% if not field.field.required %}
                                    <p class="text-muted small"> Данное поле необязательно</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="tab">
                            <div id="troupe">
                                <h2>Заполните список актёров, играющих в этом театре</h2>
                                <p class="text-muted small">Создание списка необязательно</p>
                                <div class="row collapse" id="troupe_member">
                                    <div class="mb-3 col" id="first_input">
                                        <p>Актёр</p>
                                        <select name="actor_stub" id="actor_stub" class="form-control selected">
                                            <option value="" selected="">---------</option>
                                            {% for actor in actors %}
                                                <option value={{ actor.id }}>{{ actor }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3 col" id="second_input">
                                        <p>Роль <span class="text-muted small">(необязательно)</span></p>
                                        <input name="role_stub" id="role_stub" class="form-control" type="text" placeholder="Введите роль">
                                    </div>
                                </div>
                            </div>
                            <button class="button-add form-control" type="button" id="addBtn"><strong>+</strong></button>
                            <a href="{% url 'theatres:actors_create' %}">
                                <p>Не можете найти нужного актёра? Не проблема, просто создайте его! <span class="text-muted small">(нажмите на текст)</span></p>
                            </a>
                        </div>
                        <div class="thanks-message text-center" id="text-message">
                            <img src="https://i.imgur.com/O18mJ1K.png" width="100" class="mb-4">
                            <h3>Спасибо за создание нового театра!</h3>
                            <span>Он был отправлен на модерацию и в ближайшее время будет проверен.</span>
                        </div>
                        <div style="overflow:auto;" id="nextprevious">
                            <div style="float:right;"> <button type="button" id="prevBtn" onclick="nextPrev(-1)">Назад</button> <button type="button" id="nextBtn" onclick="nextPrev(1)">Вперед</button> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}