{% extends "base.html" %}
{% block title %}Создать театр{% endblock %}
{% block content %}
    <div class="container">
    <section style="margin-top: 6vh;margin-bottom: 10vh;">
        <div class="container multi-form-container-with-no-point mt-5">
        <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <form id="regForm">
                <h1 id="register" class="header-text">Добавление театра</h1>
                <div class="all-steps" id="all-steps"> <span class="step"></span> <span class="step"></span> <span class="step"></span> <span class="step"></span> </div>
                <div class="tab">
                    <h3>{{ form.name.label }}</h3>
                    <p><input class="multi-form-input" type="text" placeholder="Введите название" oninput="this.className = 'multi-form-input'" name="{{ form.name.html_name }}"></p>
                </div>
                <div class="tab">
                    <h3>{{ form.location.label }}</h3>
                    <p><input id="theatre-location" class="multi-form-input" type="text" placeholder="{{ form.location.label }}" name="{{form.location.html_name}}"/></p>
                </div>
                <div class="tab">
                    <p><input class="multi-form-input" placeholder="Credit Card #" oninput="this.className = 'multi-form-input'" name="email"></p>
                    <p>Exp Month
                        <select id="month">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </p>
                    <p>Exp Year
                        <select id="year">
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                        </select>
                    </p>
                    <p><input class="multi-form-input" placeholder="CVV" oninput="this.className = 'multi-form-input'" name="phone"></p>
                </div>

                <div class="thanks-message text-center" id="text-message"> <img src="https://i.imgur.com/O18mJ1K.png" width="100" class="mb-4">
                    <h3>Спасибо за создание нового театра!</h3> <span>Он был отправлен на модерацию и в ближайшее время будет проверен, и если всё хорошо, добавлен в общий список.</span>
                </div>
                <div style="overflow:auto;" id="nextprevious">
                    <div style="float:right;"> <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button> <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button> </div>
                </div>
                </form>
        </div>
        </div>
        </div>
    </section>
    </div>
{% endblock %}