{% extends "base.html" %}
{% block title %}Театр{% endblock %}
{% block content %}
    <section>
        <div data-bss-parallax-bg="true" style="height: 600px;background-image: url(https://cdn.bootstrapstudio.io/placeholders/1400x800.png);background-position: center;background-size: cover;">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div style="max-width: 350px;">
                            <h1 class="text-uppercase fw-bold">Самый великий театр в мире </h1>
                            <p class="my-3">Находится под цифрой {{ id }} &nbsp;</p>
                            <a class="btn btn-primary btn-lg me-2" role="button" href="{% url 'theatres:events_list' %}">Постановки</a>
                            <a class="btn btn-outline-primary btn-lg" role="button" href="#">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}