{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
    <section>
        <div class="container" style="padding: 36vh;padding-right: 12px;padding-left: 12px;">
            <div class="caption v-middle text-center">
					<h1 class="cd-headline clip">
			            <span class="blc">Вы найдете | </span>
                        <br>
			            <span class="cd-words-wrapper">
			              <b class="is-visible">Единомышленников.</b>
			              <b>Лайфхаки.</b>
			              <b>Отзывы.</b>
			            </span>
	          		</h1>
				</div>
        </div>
    </section>
    <section style="margin-bottom: 36vh;">
        <div class="container text-center">
            <div class="block-heading">
                <h2 class="text-info">Функции</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                    <h4>Поиск единомышленников</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                    <h4>Отзывы на театр и концерт</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                    <h4>Полезные лайфхаки</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                    <h4>Система уровней</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}