{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
    <section>
        <div class="container" style="padding: 36vh;padding-right: 12px;padding-left: 12px;">
            <div class="caption v-middle text-center">
					<h1 class="cd-headline clip">
			            <span class="blc">Вы найдете | </span>
                        <br>
			            <span class="cd-words-wrapper">
			              <b class="is-visible">Единомышленников.</b>
			              <b>Театры.</b>
			              <b>Постановки.</b>
			              <b>Отзывы.</b>
			            </span>
	          		</h1>
				</div>
        </div>
    </section>
    <section style="margin-bottom: 36vh;">
        <div class="container text-center">
            <div class="block-heading">
                <h2 class="text-info">Функции</h2>
                <p>Функции нашего сайта, выделяющие его на фоне аналогов и делающие его по-настоящему удобным</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                    <h4>Поиск людей</h4>
                    <p>Создавайте группы для совместных походов на постановки и вступайте в группы других пользователей.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                    <h4>Отзывы на театры и постановки</h4>
                    <p>После посещения театра или постановки можете оставить отзыв для других пользователей.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-plus icon"></i>
                    <h4>Добавление контента</h4>
                    <p>Если вы не сможете найти свой любимый театр, постановку или даже актёра - не беда, вы можете просто предложить добавить информацию о них.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                    <h4>Система уровней</h4>
                    <p>Если вы будете активным на сайте: оставлять отзывы, предлагать новые театры и постановки, создавать группы, то вскоре ваш ранг увеличится. Попробуйте достигнуть максимума!</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}