<footer class="text-center bg-dark mt-auto">
    <div class="container text-white py-4 py-lg-5">
        <ul class="list-inline">
            <li class="list-inline-item me-4"><a class="link-light" href="https://vk.com/nytrock">Исправить неточность</a></li>
            <li class="list-inline-item me-4"><a class="link-light" href="https://t.me/fohan">Предложения по улучшению</a></li>
            <li class="list-inline-item"><a class="link-light" href="https://github.com/Jubastik/YlPlusProject">GitHub</a></li>
        </ul>
        <p class="text-muted mb-0">Copyright © 2022 Великие джангисты</p>
    </div>
</footer>