{% load static %}
<header class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button" style="background: rgb(34, 34, 34);border-radius: 20;border-top-left-radius: 20;border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;border-style: none;padding-bottom: 10px;padding-top: 15px;">
    <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div><a class="navbar-brand" href="{% url 'homepage:home' %}"><span>Creativarian </span> </a></div>
        <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);">
            <ul class="navbar-nav nav-right">
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'theatres:theatres_list' %}" style="color: rgba(224,217,217,0.9);">Театры</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'theatres:events_list' %}" style="color: rgba(224,217,217,0.9);">Постановки</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'group:group_list' %}" style="color: rgba(224,217,217,0.9);">Встречи</a></li>
            </ul>


            <p class="ms-auto navbar-text actions">
                {% if not request.user.is_authenticated %}
                    <a class="login" href="{% url 'login' %}" style="color: rgba(224,217,217,0.9);">Вход</a>
                    <a class="btn btn-light action-button" role="button" href="{% url 'users:signup' %}" style="color: rgba(0,0,0,0.9);background: var(--bs-gray-200);border-radius: 10px;border-style: solid;border-color: rgba(0,0,0,0.9);font-size: 16px;padding: 5px 8px;">Регистрация</a>
                {% endif %}
            </p>
            {% if request.user.is_authenticated  %}
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                        <span class="d-none d-lg-inline me-2 text-gray-600 small">{{ request.user.username }}</span>
                        <img class="rounded-circle img-profile" style="border:2px solid {{ profile_header.rank.color }}" src="{% if profile_header.image %} {{ profile_header.get_image_400x300.url }} {% else %} {% static '/img/None.jpg' %} {% endif %}">
                    </a>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                        <a class="dropdown-item" href="{% url 'users:profile' %}">
                            <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Профиль
                        </a>
                        {% if request.user.is_superuser %}
                        <a class="dropdown-item" href="/admin/">
                            <i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Админка
                        </a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Выйти
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</header>