{% extends "base.html" %}
{% block title %}Встречи{% endblock %}
{% load static %}
{% block content %}
    <section>
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h3 class="fw-bold">Список встреч</h3>
                    <form class="d-flex justify-content-center flex-wrap my-2" method="post" action=".">
                        {% csrf_token %}
                        <div class="my-2"><input class="form-control" type="text" name="search" placeholder="Название постановки" value="{{ current_search }}"></div>
                        <div class="my-2"><button class="btn btn-primary ms-sm-2" type="submit">Поиск</button></div>
                    </form>
                </div>
            </div>
            {% for meetup in meetups %}
                <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                    <div class="col mb-5">
                        {% if meetup.event.image %}
                            <img class="rounded img-fluid shadow" src="{{ meetup.event.get_image_400x300.url}}">
                        {% else %}
                            <img class="rounded img-fluid shadow" src="{% static 'img/None400x300.jpg' %}">
                        {% endif %}
                    </div>
                    <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                        <div>
                            <h5 class="fw-bold">Встреча на постановке "{{ meetup.event.name }}"</h5>
                            {% if meetup.description %}
                                <p>{{ meetup.description }}</p>
                            {% endif %}
                            <p class="text-muted mb-4"><i class="fas fa-map-marker-alt" style="padding-right: 8px;"></i>{{ meetup.event.theatre.location.query }}<br>
                            <i class="fa fa-user" style="padding-right: 8px;" aria-hidden="true"></i>Организатор: {% if meetup.host_id != request.user.id %}<a href="{% url 'users:users_detail' meetup.host_id %}" >{{meetup.host}}</a> {% else %} <a href="{% url 'users:profile' %}" >{{meetup.host}}</a> {% endif %}<br>
                            <i class="fa fa-address-book" style="padding-right: 8px;" aria-hidden="true"></i>Количество участников: {{ meetup.participants_count }}/{% if meetup.participants_limit %} {{ meetup.participants_limit }} {% else %}∞ {% endif %}<br>
                            <i class="fa fa-clock" style="padding-right: 8px;" aria-hidden="true"></i>Время проведения: {{ meetup.start }}</p>
                            <a href="{% url 'group:group_detail' meetup.id %}" class="btn btn-primary shadow" type="button">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <h3 class="fw-bold text-center">Встречи отсутствуют</h3>
            {% endfor %}
        <section class="py-4 py-xl-5">
            <div class="container">
                <div class="text-white bg-dark border rounded border-0 p-4 p-md-5">
                    <h2 class="fw-bold text-white mb-3">Хотите найти людей для посещения постановки?</h2>
                    <p class="mb-4">Ну так сделайте свою группу и найдите их!</p>
                    <a class="btn btn-primary btn-lg me-2" role="button" href="{% url 'group:group_create' %}">Приступить к созданию</a>
                </div>
            </div>
        </section>
    </section>
{% endblock %}