{% extends "base.html" %}
{% load static %}
{% block title %}Встреча{% endblock %}
{% block content %}
    <section>
        <div data-bss-parallax-bg="true" style="height: 600px;background-image: url({% if meetup.event.image %} {{ meetup.event.image.url}} {% else %} {% static '/img/NoneGroup400x300.jpg' %} {% endif %});background-position: center;background-size: cover;">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                        <form style="min-width: 320px;" action="." method="post">
                            {% csrf_token %}
                            <h1 class="text-uppercase fw-bold text-white">Встреча на постановке "{{ meetup.event.name }}"</h1>
                            {% if meetup.description %}
                                <p class="my-3 text-white">{{ meetup.description | truncatewords:10 }}</p>
                                <a class="btn btn-primary btn-lg menu_sub_link menu_linked" role="button" style="margin-top: 9px;" data-goto=".description">Описание</a>
                            {% endif %}
                            <a class="btn btn-primary btn-lg menu_sub_link menu_linked" type="button" style="margin-top: 9px;" data-goto=".event">Информация о постановке</a>
                            <a class="btn btn-primary btn-lg menu_sub_link menu_linked" type="button" style="margin-top: 9px;" data-goto=".groups">Участники</a>
                            {% if request.user.id != meetup.host_id %}
                                {% if not is_participant and meetup.participants_limit != meetup.participants_count %}
                                    <button class="btn btn-primary btn-lg" name="group_join" style="margin-top: 9px;" type="submit">Присоединиться к встрече</button>
                                {% elif meetup.participants_count != meetup.participants_limit %}
                                    <button class="btn btn-primary btn-lg" name="group_leave" style="margin-top: 9px;" type="submit">Покинуть встречу</button>
                                {% endif %}
                            {% else %}
                                <button class="btn btn-danger btn-lg" name="group_delete" style="margin-top: 9px;" type="submit">Удалить встречу</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-4 py-xl-5">
            <div class="text-center text-white-50 bg-primary border rounded border-0 p-3">
                <div class="row row-cols-2 row-cols-md-3">
                    <div class="col">
                        <div class="p-3">
                            {% if meetup.host_id != request.user.id %}
                                <a href="{% url 'users:users_detail' meetup.host_id %}">
                                    <h4 class="display-5 fw-bold text-white mb-0"><i class="far fa-user"></i>{{ meetup.host }}</h4>
                                </a>
                            {% else %}
                                <a href="{% url 'users:profile' %}" >
                                    <h4 class="display-5 fw-bold text-white mb-0"><i class="far fa-user"></i>{{ meetup.host }}</h4>
                                </a>
                            {% endif %}
                            <p class="mb-0">Организатор</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-3">
                            <h4 class="display-5 fw-bold text-white mb-0"><i class="far fa-address-book"></i>{{ meetup.participants_count }}/{% if meetup.participants_limit %} {{ meetup.participants_limit }} {% else %}∞ {% endif %}</h4>
                            <p class="mb-0">Количество участников</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-3">
                            <h4 class="display-5 fw-bold text-white mb-0"><i class="fas fa-clock"></i>{{ meetup.start|date:'d.m.Y G:i' }}</h4>
                            <p class="mb-0">Время встречи</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="hobbies group events" style="padding-right: 15vh;padding-left: 15vh;padding-top: 0vh;padding-bottom: 4vh;">
            {% include 'includes/description_block.html' with description=meetup.description only %}
            <h2 class="text-center event mb-3">Постановка</h2>
            <h4 class="text-center">Краткая информация</h4>
            <div class="container py-5">
                <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                    <div class="col mb-5">
                        {% if meetup.event.image %}
                            <img class="rounded img-fluid shadow" src="{{ meetup.event.get_image_400x300.url}}">
                        {% else %}
                            <img class="rounded img-fluid shadow" src="{% static 'img/NoneEvent400x300.jpg' %}">
                        {% endif %}
                    </div>
                    <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                        <div>
                            <h5 class="fw-bold">{{ meetup.event.name }}</h5>
                            {% if meetup.event.description %}
                                <p>{{ meetup.event.description }}</p>
                            {% endif %}
                            <a href="{% url 'theatres:events_detail' meetup.event.id %}" class="btn btn-primary shadow" type="button">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="text-center">Место проведения</h4>
            <div class="container py-5">
                <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                    <div class="col mb-5">
                        {% if meetup.event.theatre.image %}
                            <img class="rounded img-fluid shadow" src="{{ meetup.event.theatre.get_image_400x300.url}}">
                        {% else %}
                            <img class="rounded img-fluid shadow" src="{% static 'img/NoneTheatre400x300.jpg' %}">
                        {% endif %}
                    </div>
                    <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                        {% include 'includes/theatre_block.html' with theatre=meetup.event.theatre only %}
                    </div>
                </div>
            </div>
            {% if actors %}
                {% include 'includes/actors_block.html' with actors=actors only %}
            {% endif %}
        </div>
        <div class="hobbies group groups" style="padding-right: 15vh;padding-left: 15vh;padding-top: 0vh;padding-bottom: 4vh;">
            <h2 class="text-center">Участники</h2>
            <div class="album py-5">
            <div class="container">
            {% if meetup.participants.exists %}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for user in meetup.participants.all %}
                <div class="col">
                    <div class="card shadow sm text-center">
                        <div class="col mb-5 ">
                            {% if user.user.id != request.user.id %}
                                <a href="{% url 'users:users_detail' user.user.user_profile.id %}"><img class="rounded img-fluid shadow" style="border:2px solid {{ user.user.user_profile.rank.color }}" src="{% if user.user.user_profile.image %} {{ user.user.user_profile.get_image_400x300.url }} {% else %} {% static '/img/NoneUser400x300.jpg' %} {% endif %}"></a>
                            {% else %}
                                <a href="{% url 'users:profile' %}"><img class="rounded img-fluid shadow" style="border:2px solid {{ user.user.user_profile.rank.color }}" src="{% if user.user.user_profile.image %} {{ user.user.user_profile.get_image_400x300.url }} {% else %} {% static '/img/
                                  User400x300.jpg' %} {% endif %}"></a>
                            {% endif %}
                        </div>
                        <div class="col d-md-flex mx-auto align-items-md-end align-items-lg-center mb-2">
                            <div>
                                <h5 class="fw-bold">{{  user.user.user_profile.first_name }} {{  user.user.user_profile.last_name }} ({{  user.user.username }})</h5>
                                {% if user.user.user_profile.description %}
                                    <p>{{ user.user.user_profile.description }}</p>
                                {% else %}
                                    <p class="text-muted">Описание отсутствует</p>
                                {% endif %}
                                {% if user.user.email %}
                                    <p class="text-muted mb-4"><i class="fa fa-envelope"></i>&nbsp;{{ user.user.email }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            {% else %}
                <h4>Участники отсутствуют.</h4>
            {% endif %}
            </div>
            </div>
        </div>
    </section>
{% endblock %}