{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Дефолтный заголовок {% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="{% static '/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static '/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/Animated-Type-Heading.css' %}">
    <link rel="stylesheet" href="{% static '/css/Black-Navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static '/css/form.css' %}">
    <link rel="stylesheet" href="{% static '/css/Multi-step-form.css' %}">
    <link rel="stylesheet" href="{% static '/css/Simple-Slider.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
</head>
<body class="d-flex flex-column min-vh-100">
    {% include "includes/header.html" %}
    {% block content %} Иди своей дорогой, Сталкер {% endblock %}
    {% include "includes/footer.html" %}
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/bs-init.js' %}"></script>
    <script src="{% static '/js/Animated-Type-Heading.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="{% static '/js/multi-step-form.js' %}"></script>
    <script src="{% static '/js/Simple-Slider.js' %}"></script>
</body>
</html>