{% extends "base.html" %}
{% block title %}
    Вход
{% endblock %}
{% block content %}
    <main class="form-signin text-center">
        <form action="." method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Вход на сайт</h1>

            {% include "includes/form-login.html" %}
            {% include "includes/form-errors.html" %}
            <button class="w-100 btn btn-lg btn-primary btn-margin mb-2" type="submit">Войти</button>
            <a href="{% url 'password_reset' %}">Забыли пароль?</a>
        </form>
    </main>
{% endblock %}