{% extends "base.html" %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block content %}
    <section>
        <div class="container-fluid">
            <h3 class="text-center text-dark mb-4" style="padding-top: 26px;">Профиль</h3>
            <div class="row mb-3">
                <div class="col-lg-4">
                    <div class="card shadow block-profile-img mb-3">
                        <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="{% if profile.image %} {{ profile.get_image_400x300.url }} {% else %} {% static '/img/None.jpg' %} {% endif %}" width="160" height="160">
                            <div class="mb-3">
                                <form id="upload_image_form" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="file" id="{{ extra_form.image.label }}" name="{{ extra_form.image.html_name }}" style="display:none" onchange="$('#upload_image_form').submit()" accept="image/jpeg, image/png"/> 
                                    <button class="btn btn-primary btn-sm" type="button" onclick="$('#{{ extra_form.image.label }}').trigger('click'); return false;">Изменить фото</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="text-primary fw-bold m-0">Ранг</h6>
                        </div>
                        <div class="card-body">
                            <h4 class="small">Получай опыт за активность на сайте (пиши отзывы, организуй группы и т.д.), получай новые ранги и попробуй достигнуть максимума!</h4>
                            <h4 class="small fw-bold rank-h1">{{profile.rank.name}}<br><span class="float-end num_exp">{{ profile.experience }}/{{ next_rank.experience_required }}</span></h4>
                            <div class="progress progress-sm mb-3">
                                <div class="progress-bar bg-success" aria-valuenow="{{ profile.experience }}" aria-valuemin="0" aria-valuemax="{{ next_rank.experience_required }}" style="width: {{ percent }}%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row mb-3">
                        {% for meetup in meetups_host %}
                            <div class="col">
                                <a href="{% url 'group:group_detail' meetup.id %}">
                                <div class="card textwhite bg-success text-white shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0"><strong>Встреча на постановке "{{ meetup.event }}"</strong></p>
                                                {% if meetup.description %}
                                                    <p class="m-0">{{ meetup.description }}</p>
                                                {% else %}
                                                    <p class="m-0">Описание отсутствует</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto"><i class="fas fa-university fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fa fa-clock"></i>&nbsp;Дата проведения: {{ meetup.start }}</p>
                                        <p class="text-white-50 small m-0"><i class="fa fa-user"></i>&nbsp;Роль: лидер</p>
                                    </div>
                                </div>
                                </a>
                            </div>
                        {% endfor %}
                        {% for meetup in meetups_participant %}
                            <div class="col">
                                <a href="{% url 'group:group_detail' meetup.id %}">
                                <div class="card textwhite bg-primary text-white shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0"><strong>Встреча на постановке "{{ meetup.meetup.event }}"</strong></p>
                                                {% if meetup.meetup.description %}
                                                    <p class="m-0">{{ meetup.meetup.description }}</p>
                                                {% else %}
                                                    <p class="m-0">Описание отсутствует</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto"><i class="fas fa-university fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fa fa-clock"></i>&nbsp;Дата проведения: {{ meetup.meetup.start }}</p>
                                        <p class="text-white-50 small m-0"><i class="fa fa-user"></i>&nbsp;Роль: участник</p>
                                    </div>
                                </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 fw-bold">Настройки пользователя</p>
                                </div>
                                <div class="card-body">
                                    <form method="post" action=".">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label" for="{{ main_form.username.id_for_label }}"><strong>{{ main_form.username.label }}</strong></label>
                                                    <input class="form-control" required type="text" id="{{ main_form.username.id_for_label }}" placeholder="Введите логин" name="{{ main_form.username.html_name }}" value="{{ main_form.username.value }}">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label" for="{{ main_form.email.id_for_label }}"><strong>{{ main_form.email.label }}</strong></label>
                                                    <input class="form-control" required type="email" id="{{ main_form.email.id_for_label }}" placeholder="Введите почту" name="{{ main_form.email.html_name }}" value="{{ main_form.email.value }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label" for="{{ main_form.first_name.id_for_label }}"><strong>{{ main_form.first_name.label }}</strong></label>
                                                    <input class="form-control" type="text" id="{{ main_form.first_name.id_for_label }}" placeholder="Введите имя" name="{{ main_form.first_name.html_name }}" value="{{ user.first_name }}">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label" for="{{ main_form.last_name.id_for_label }}"><strong>{{ main_form.last_name.label }}</strong></label>
                                                    <input class="form-control" type="text" id="{{ main_form.last_name.id_for_label }}" placeholder="Введите фамилию" name="{{ main_form.last_name.html_name }}" value="{{ user.last_name }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Сохранить</button></div>
                                    </form>
                                </div>
                            </div>
                            <form class="card shadow" action="." method="post">
                                {% csrf_token %}
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 fw-bold">Контакты</p>
                                </div>
                                <div class="card-body">
                                    <div id="contact-container">
                                        {% for contact in profile_contacts %}
                                            <div class="mb-3">
                                                <label class="form-label"><strong>{{ contact.type }}</strong><br></label>
                                                <input class="form-control" name="{{ contact.type }}" type="text" id="{{ contact.type }}" value="{{ contact.value }}" placeholder="Введите значение" name="сontacts">
                                            </div>
                                        {% empty %}
                                            <p class="small">Контакты отсутствуют.</p>
                                        {% endfor %}
                                    </div>
                                        <div class="mb-3">
                                            <button class="btn btn-primary btn-sm" type="submit">Сохранить</button>
                                            <button class="btn btn-primary btn-sm" type="button" id="AddContactProfile">Добавить</button>
                                        </div>
                                        <div id="contact-div" class="mb-3 collapse">
                                            <label class="form-label"><strong>Тип контакта</strong></label>
                                            <select id="contact-label" class="form-control selected">
                                                {% for contact in contacts %}
                                                    <option value="{{ contact.id }}">{{ contact }} </option>
                                                {% endfor %}
                                            </select>
                                            <label class="form-label"><strong>Значение (обязательно)</strong></label>
                                            <input id="contact-text" class="form-control" type="text" placeholder="Введите значение" name="сontacts">
                                        </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-5">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Общая информация</p>
                </div>
                <div class="card-body">
                    <form method="post" action=".">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="{{ extra_form.description.label }}"><strong>{{ extra_form.description.label }}</strong><br></label>
                                    <textarea placeholder="Введите описание" class="form-control" id="{{ extra_form.description.label }}" rows="4" name="{{ extra_form.description.html_name }}">{{user.description}}</textarea>
                                </div>
                                <div class="mb-3"></div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="{{ extra_form.birthday.label }}"><strong>{{ extra_form.birthday.label }}</strong></label>
                                <input class="form-control" type="date" id="{{ extra_form.birthday.label }}" name="{{ extra_form.birthday.html_name }}" value="{{ user.birthday|date:'Y-m-d' }}">
                            </div>
                        </div>
                        <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Сохранить<br></button></div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}