{% extends "base.html" %}
{% block title %}Отзывы на событие{% endblock %}
{% block content %}
    <h1>Отзывы на событие под номером {{ id }}</h1>
    <section>
        <div data-bss-parallax-bg="true" style="height: 600px;background-position: center;background-size: cover;">
            <div class="container h-100">
                <a class="btn btn-outline-primary btn-lg" role="button" href="{% url 'rating:rating_create' 'event' id %}">Оставить отзыв</a>
            </div>
        </div>
    </section>
{% endblock %}